<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - School PE Schedule System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>
    <header>
        <h1>Login</h1>
    </header>
    <main>
        <form action="{{ url_for('login') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Login">
        </form>
    </main>
    <footer>
        <p>© 2024 School PE Schedule System</p>
    </footer>
</body>
</html>
